/* split styles */
.split.split--fixed.split--horizontal {
  display: inline-flex;
  height: 100%;
  overflow-x: hidden;
}
.split.split--fixed.split--vertical {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.split--fixed > .split__item {
  flex-shrink: 0;
}
