/* split styles */
.split.split--flex {
  display: flex;
  height: 100%;
}
.split.split--flex.split--horizontal {
  overflow-x: hidden;
}
.split.split--flex.split--vertical {
  flex-direction: column;
  overflow-y: hidden;
}

.split__item {
  overflow: hidden;
}

/* gutter styles */
.gutter {
  background-color: #ddd;
}
.gutter--horizontal {
  cursor: col-resize;
}
.gutter--vertical {
  cursor: row-resize;
  width: 100%;
}
