/* split styles */
.split.split--flex {
  display: flex;
  height: 100%;
}
.split.split--flex.split--horizontal {
  overflow-x: hidden;
}
.split.split--flex.split--vertical {
  flex-direction: column;
  overflow-y: hidden;
}

.split.split--flex > .split__item {
  flex-grow: 1;
}