.split__item {
  overflow: hidden;
}

/* gutter styles */
.gutter {
  background-color: #ddd;
  flex-shrink: 0;
}
.gutter--horizontal {
  cursor: col-resize;
}
.gutter--vertical {
  cursor: row-resize;
  width: 100%;
}
