.App {
  font-family: sans-serif;
  padding: 0 2rem;
}

/* ====== custom split ====== */
.split__item{
  background-color:yellow;
}

/* ================ */

.container {
  outline: 2px dashed #ddd;
}
.container-horizontal {
  overflow-x: auto;
  width: 100%;
  height: 100px;
}
.container-vertical {
  overflow-y: auto;
  height: 70vh;
}

.block {
  background-color: aqua;

  /* try it */
  /* margin: 1rem; */
  /* padding: 1rem; */

  /* let block fill container */
  /* height: 100%; */
}
